/* css for all the elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: hsl(33, 100%, 94%);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body > h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
    font-style: italic;
    color: #292F36;
}

.body > h2 {
    text-align: center;
    font-size: 1.7rem;
}

.body > h2 span {
    color: #0066FF;
}

.search-form {
    background-color: hsl(33, 100%, 98%);
    padding: 1.5rem;
    margin: 3rem auto;
    border-radius: 15px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.2);
    color: hsla(0, 0%, 0%, 0.8);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 900px;
}

/* made the flex basis 30% */
.search-form label{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
}

.search-form label > span{
    text-align: center;
}

.search-form input,
.search-form select,
.search-form button[type = "submit"]{
    margin-top: 5px;
    padding: 0.5rem;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
}

.search-form button[type = "submit"] {
    background-color: #0066FF;
    color: white;
    font-weight: bold;
    flex: 1 1 30%; 
    max-width: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button[type = "submit"]:hover {
    background-color: #004fc5;
}

/* for smaller screens */
@media (max-width: 768px) {
    .search-form {
        flex-direction: column;
        width: 80%;
    }

    .search-form label {
        flex: 1 1 100%; 
    }

    .search-form button[type = "submit"] {
        flex: 1 1 100%; 
    }
}

/* Results Section */
.results-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style-type: none;
    margin: 1rem auto;
    padding: 0 1.5rem;
    justify-content: center;
}

.result-card{
    background: rgb(255, 253, 250);
    border-radius: 8px;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
    overflow: hidden;
    width: 650px;
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease;
}

.result-card:hover {
    transform: translateY(-5px);
}

.property-image {
    width: 40%;
    object-fit: cover;
    border-right: 1px solid #ddd;
}

.property-details {
    padding: 1rem;
}

.property-details h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.property-type {
    font-size: 0.9rem;
    color: #555;
    font-weight: bold;
}

.property-price {
    font-weight: bold;
    color: #004fc5;
    margin: 0.5rem 0;
}

.property-description {
    font-size: 0.9rem;
    color: #555;
}

.property-date {
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic;
    margin: 0.7rem 0;
}

.property-more-button {
    background-color: #004fc5;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.property-more-button:hover {
    background-color: #0066FF;
}

@media (max-width: 768px) {
    .result-card {
        flex-direction: column; 
        width: 80%; 
        align-items: center;
    }

    .property-image {
        width: 100%;
        height: 70%; 
        border-right: none; 
        border-bottom: #ddd;
    }

    .property-details {
        text-align: center; 
        padding: 1rem 0.5rem; 
    }

    .property-details h3 {
        font-size: 1.2rem; 
    }

    .property-description {
        font-size: 0.85rem; 
    }
}

/* Property Pages */
.property-page {
    margin: 2rem auto;
    padding: 1.5rem;
    display: flex;
    width: 80%;
    max-width: 1000px;
    flex-direction: column;
    background-color: rgb(255, 253, 250);
    border-radius: 8px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.1);
}

.property-image-large {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.react-tabs__tab-list {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 3rem 0 !important;
    list-style: none;
}

.react-tabs__tab {
    width: 30%;
    padding: 3rem auto !important;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #004fc5;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
    color: #0066FF !important;
    background-color: rgba(210, 210, 210, 0.53) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.property-page > h1{
    font-size: 1.7rem;
    margin: 0.8rem 0;
    color: #333;
}

.property-page p:has(b) {
    margin: 1rem 0;
    font-size: 1.1rem;
    color: #323232;
}

.property-page-description{
    line-height: 2rem;
    text-align: justify;
}

.property-page-date {
    font-size: 0.9rem;
    font-weight: bold;
    font-style: italic;
    margin: 2rem 0;
}

.property-page > .property-date{
    margin-top: 1.8rem;
}

.floorplan-img{
    display: block;
    margin: 0 auto;
    width: 80%; 
    height: auto;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .property-page {
        padding: 1rem;
        margin: 1rem;
        width: 100%;
        box-shadow: none;
    }

    .react-tabs__tab {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }

    .floorplan-img{
        width: 100%;
        margin: 1rem auto;
    }

    .property-page h1{
        font-size: 1.5rem;
        text-align: center;
    }

    .property-page p{
        font-size: 1rem;
    }
}